h2,
h3,
form,
.Slider_nav {
  text-align: center;
}

.Slider {
  position: relative;
  width: 100%;
  max-width: 990px;
  height: 500px;
  margin: 0 auto;
}

.Slider_slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.Slider_slide.--active {
 visibility: visible;
}

.Slider_slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.Slider_dots {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
}

li.Slider_dot {
  opacity: 0.5;
  list-style: none;
  cursor: pointer;
}

li.Slider_dot:after {
  content: '😿';
  font-size: 35px;
  display: block;
}

li.Slider_dot:not(:last-child) {
  margin-right: 10px;
}

li.Slider_dot.--active {
  opacity: 1;
}

li.Slider_dot.--active:after {
  content: '🙀';
}

input {
  padding: 5px 10px;
  font-size: 18px;
}

button {
  font-size: 35px;
  cursor: pointer;
}
